* {
  box-sizing: border-box;
}

body {
  font-family: "AxisStd-Light", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.menu-list {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
}


/* ヘッダー */

.header-top {
  background-color: #f7f7f7;
}

.container {
  width: 72%;
  margin: 0 14%;
}

.clear-flex::after {
  content: "";
  clear: both;
  display: block;
}

.header-top__title {
  float: left;
  font-size: 12.5px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
  line-height: 2;
}

.login {
  float: right;
  display: inline-block;
  background-image: url("../../images/icon_site_mark01.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10% 50%;
  background-color: #d9d9d9;
  font-size: 12px;
  line-height: 2;
  padding: 5px 15px 5px 30px;
  color: #000066;
}

.header-top__nav {
  float: right;
}

.menu-list-small {
  font-size: 12px;
  line-height: 2;
}

.menu-list-small__item {
  display: inline-block;
  padding: 5px 15px;
  position: relative;
}

.menu-list-small__link {
  color: #676767;
}

.menu-list-small__link::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-image: url("../../images/header01_intro_nav01_bg01.png");
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.menu-list-small__link--last::after {
  background-image: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 210px;
  margin-top: 5px;
}

.tel__logo {
  margin: 20px 25px 0 0;
  max-width: 210px;
}

.tel__info {
  font-size: 12px;
  margin: 5px 31px;
  color: #8d959c;
}

.sns-circle {
  margin-top: 20px;
}

.sns-circle__icon {
  padding-left: 8px;
}

.menu-list-large__item {
  padding: 0 30px;
  letter-spacing: 0.1em;
  font-size: 15px;
  border-left: 1px solid #ccc;
}

.menu-list-large__item:last-child {
  border-right: 1px solid #ccc;
}

.header-global-nav {
  margin-top: 20px;
}

.fw-b {
  font-weight: bold;
  font-size: 10px;
  color: #8d959c;
}

.fw-b:hover {
  color: #000066;
}

.fw-b--current {
  color: #000066;
}

.menu-list-large__item--current {
  color: #000066;
}

.link-square-small__link {
  width: 170px;
  height: 40px;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  color: #000066;
  border: 1px solid #000066;
  padding: 10px 30px;
  margin-left: 10px;
  margin-top: 20px;
  background-image: url("../../images/icon_arrow01_right_blue01.png");
  background-repeat: no-repeat;
  background-position: 93% 55%;
  background-size: 5px;
}

.link-square-small__link:hover {
  color: #fff;
  background-color: #000066;
  background-image: url("../../images/icon_arrow01_right_white01.png");
}

.header-bottom {
  background-color: #181836;
  color: #fff;
  margin-top: 20px;
  position: relative;
}

.header-bottom::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 19%;
  border: 5px solid transparent;
  border-bottom: 8px solid #181836;
}

.menu-list-local {
  padding: 10px 0;
  margin-bottom: 0;
}

.menu-list-local__item {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 0.05em;
  vertical-align: middle;
  padding: 0 10px;
  position: relative;
}

.menu-list-local__item::before {
  content: "";
  display: inline-block;
  background-image: url("../../images/icon_backslash01_black01.png");
  width: 10px;
  height: 20px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.menu-list-local__item:first-child::before {
  background-image: none;
}

.menu-list-local__link {
  padding: 10px 10px;
}

.menu-list-local__link:hover {
  background-color: #fff;
  color: #181836;
}

.main-title {
  height: 540px;
}

.main-title__text {
  height: 100%;
  background-image: url("../../images/about_mainimage01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 52px;
  font-weight: normal;
  letter-spacing: 0.3em;
  padding-top: 70px;
  position: relative;
  z-index: 1;
  vertical-align: bottom;
}

.main-title__text::before {
  content: "";
  width: 200px;
  height: 1px;
  background-image: url("../../images/line01_white01.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 27%;
  left: 43%;
}

.main-title__text::after {
  content: "";
  width: 150px;
  height: 25px;
  background-image: url("../../images/about_maintitle_ruby01.png");
  background-repeat: no-repeat;
  background-size: 65%;
  position: absolute;
  top: 32.5%;
  left: 46.5%;
}

.topicpath {
  border-bottom: 1px solid #ccc;
}

.topicpath__current {
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 10px 0;
}

.topicpath__link {
  display: inline-block;
  color: #36538d;
}

.topicpath__link:hover {
  text-decoration: underline;
}