* {
  box-sizing: border-box;
}

body {
  font-family: "AxisStd-Light", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.menu-list {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  display: inline-block;
}


/* ヘッダー */

.header-top {
  background-color: #f7f7f7;
}

.container {
  width: 72%;
  margin: 0 14%;
}

.clear-flex::after {
  content: "";
  clear: both;
  display: block;
}

.header-top__title {
  float: left;
  font-size: 12.5px;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
  line-height: 2;
}

.login {
  float: right;
  display: inline-block;
  background-image: url("../../images/icon_site_mark01.png");
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10% 50%;
  background-color: #d9d9d9;
  font-size: 12px;
  line-height: 2;
  padding: 5px 15px 5px 30px;
  color: #000066;
}

.header-top__nav {
  float: right;
}

.menu-list-small {
  font-size: 12px;
  line-height: 2;
}

.menu-list-small__item {
  display: inline-block;
  padding: 5px 15px;
  position: relative;
}

.menu-list-small__link {
  color: #676767;
}

.menu-list-small__link::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 10px;
  background-image: url("../../images/header01_intro_nav01_bg01.png");
  background-size: contain;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.menu-list-small__link--last::after {
  background-image: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 210px;
}

.tel__logo {
  margin: 20px 25px 0 0;
  max-width: 210px;
}

.tel__info {
  font-size: 12px;
  margin: 5px 31px;
  color: #8d959c;
}

.sns-circle {
  margin-top: 20px;
}

.sns-circle__icon {
  padding-left: 8px;
}

.menu-list-large__item {
  padding: 0 40px;
}

.fw-b {
  font-weight: bold;
  font-size: 10px;
  color: #8d959c;
}

.fw-b:hover {
  color: #000066;
}

.fw-b--current {
  color: #000066;
}

.menu-list-large__item--current {
  color: #000066;
}

